<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <title>KONTAKT: Kontakt</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="app.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <style type="text/css">
        .fancybox-margin{margin-right:17px;}
        label {font-size: 17px}
        </style>
        
        

    </head>
    
<body ng-app="">

<form action="https://formspree.io/multiteamhh@pantaenius.com"
      method="POST" name="myForm">


<input type="hidden" id="url" name="url" value="" />
<script type="text/javascript">
  document.getElementById('url').value = document.URL 
</script>
  
<div class="container">
<hr width=60% align=left>

<h1>Boot</h1>
    <div class="row">

        <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Hersteller:</label></h4>
          <div class="col-sm-7">
          
              <input type="text" class="form-control" id="hersteller" name="hersteller" ng-model="hersteller" required>
              <p ng-show="myForm.hersteller.$touched && myForm.hersteller.$invalid">
        Bitte geben Sie den Hersteller an</p>
            
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Modell:</label></h4>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="modell" name="modell" ng-model="modell" required>
              <p ng-show="myForm.modell.$touched && myForm.modell.$invalid">
              Bitte geben Sie das Modell an</p>
          </div>
        </div>
      </div>

      </div>

      <div class="row">
        <div class="col-sm-5">
              <div class="form-group">
                  <h4><label class="col-sm-5" for="bj">Baujahr:</label></h4>
                  <div class="col-sm-4">
                      <select class="form-control" name="baujahr">
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                      </select>
                  </div>
          </div>
        </div>

        <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Wert Trailer:</label></h4>
          <div class="col-sm-7">
              <div class="input-group">
              <input type="text" class="form-control" id="werttrailer" name="werttrailer" ng-model="werttrailer" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" placeholder="0" ><span class="input-group-addon">&euro;</span>
              </div>
               <p ng-show="myForm.werttrailer.$touched && myForm.werttrailer.$invalid">
              Bitte tragen Sie ein Zahl an</p>
          </div>
        </div>
      </div>

      </div>

      <div class="row">

        <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Kaufpreis:</label></h4>
          <div class="col-sm-7">
          <div class="input-group">
              <input type="text" class="form-control" id="kaufpreis" name="kaufpreis" ng-model="kaufpreis" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" required><span class="input-group-addon">&euro;</span>
              </div>
              <p ng-show="myForm.kaufpreis.$touched && myForm.kaufpreis.$invalid">
              Bitte tragen Sie eine Zahl ein</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Versicherungssumme:</label></h4>
          <div class="col-sm-7">
          <div class="input-group">
              <input type="text" class="form-control" id="versicherungssumme" name="versicherungssumme" ng-model="versicherungssumme" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" required><span class="input-group-addon">&euro;</span>
              </div>
               <p ng-show="myForm.versicherungssumme.$touched && myForm.versicherungssumme.$invalid">
              Bitte tragen Sie eine Zahl ein</p>
          </div>
        </div>
      </div>

      </div>

      <div class="row">
          <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Schiffstyp:</label></h4>
          <div class="col-sm-4">
              <select class="form-control" id="schiffstyp" name="schiffstyp">
                        <option>Motorboot</option>
                        <option>Segelboot</option>
              </select>
          </div>
        </div>
      </div>
      </div>

      <div class="row">

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Gesamtmotorleistung:</label></h4>
          <div class="col-sm-4">
              <input type="text" class="form-control" id="motorleistung" name ="motorleistung" ng-model="motorleistung" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" required>
              <p ng-show="myForm.motorleistung.$touched && myForm.motorleistung.$invalid">
              Bitte tragen Sie eine Zahl ein</p>
           </div>

           <div class="col-sm-3">
              <select class="form-control" name="ML">
                  <option>PS</option>
                    <option>KW</option>
              </select>

              </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">

          <h4><label class="col-sm-5">Wert Außenborder:</label></h4>
          <div class="col-sm-7">
            <div class="input-group">
              <input type="text" class="form-control" id="wertab" name="wertab" ng-model="wertab" ng-pattern="/^[0-9]+([,.][0-9]+)?$/" placeholder="0" >
              <span class="input-group-addon">&euro;</span>
              </div>
               <p ng-show="myForm.wertab.$touched && myForm.wertab.$invalid">
              Bitte tragen Sie ein Zahl an</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
            <h4><label class="col-sm-5">Fahrtgebiet:</label></h4>
            <div class="col-sm-7">
              <select class="form-control" name="fahrtgebiet">
                <option>Europa Küste</option>
                <option>Europa Binnen</option>
              </select>
            </div>
        </div>
      </div>
    </div>

   
    <hr width=60% align=left>

    
    
    <h1>Ihre Kontaktdaten</h1>

    <div class="row">

      <div class="col-md-5"> 
          <div class="form-group" ng-model="anrede" required>
              <h4><label class="col-sm-5">Anrede:</label></h4>
              <div class="col-sm-6" >
              <label class="radio-inline"><input type="radio" name="anrede" ng-model="anrede" ng-required="!anrede"value="Herr">Herr</label>
              <label class="radio-inline"><input type="radio" name="anrede" ng-model="anrede" ng-required="!anrede"value="Frau">Frau</label>
              </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Nachname:</label></h4>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="nachname" name="nachname" ng-model="nachname" required>
              <p ng-show="myForm.nachname.$touched && myForm.nachname.$invalid">
        Nachname ist erforderlich</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Vorname:</label></h4>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="vorname" name="vorname" ng-model="vorname" required>
              <p ng-show="myForm.nachname.$touched && myForm.nachname.$invalid">
        Vorname ist erforderlich</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Geburtsdatum:</label></h4>
          <div class="col-sm-5">
              <input type="date" class="form-control" id="geburtsdatum" name="geburtsdatum" ng-model="geburtsdatum" placeholder="DD-MM-YYYY" required>
               <p ng-show="myForm.nachname.$touched && myForm.nachname.$invalid">
             Geburtsdatum ist erforderlich</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Telefon:</label></h4>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="telefon" name="telefon" ng-model="telefon"  ng-pattern="/[0-9]/"
       required>
       <p ng-show="myForm.telefon.$touched && myForm.telefon.$invalid">
              Bitte tragen Sie ein gültiges Telefon ein</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Postleitzahl:</label></h4>
          <div class="col-sm-5">
              <input type="text" class="form-control" id="postleitzahl" name="postleitzahl" ng-model="postleitzahl" ng-pattern="/[0-9]/" required>
              <p ng-show="myForm.postleitzahl.$touched && myForm.postleitzahl.$invalid">
              Bitte tragen Sie eine gültige PLZ an</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Straße:</label></h4>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="strasse" name="strasse" ng-model="strasse" required>
              <p ng-show="myForm.strasse.$touched && myForm.strasse.$invalid">
        Straße ist erforderlich</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">Stadt:</label></h4>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="stadt" name="stadt" ng-model="stadt" required>
              <p ng-show="myForm.stadt.$touched && myForm.stadt.$invalid">
        Stadt ist erforderlich</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <h4><label class="col-sm-5">E-Mail:</label></h4>
          <div class="col-sm-7">
              <input type="email" class="form-control" id="email" name="email" ng-model="email" required>
              <p ng-show="myForm.email.$touched && myForm.email.$invalid">
        Bitte tragen Sie eine gültige E-Mail an</p>
          </div>
        </div>
      </div>
    </div>

<button type="submit" class="btn btn-primary" name="submit" value="Submit">Submit</button>


</div>

<br><br>
   
        </form>
    </body>
    

    
</html>
